body {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

.comic-img {
	width: 50vw;
}
.bio-parag {
	width: 50%;
	margin: auto auto 70px auto;
}
h1 {
	color: #66bfbf;
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
}
h2 {
	color: #66bfbf;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: 100;
}

h3 {
	color: #11999e;
	font-family: 'Montserrat', sans-serif;
}
hr {
	border-style: dotted none none;
	border-top-width: 8px;
	border-top-color: rgb(176, 176, 176);
	width: 5%;
}
a {
	color: #11999e;
}
p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 2;
}
.profile-picture {
	width: 300px;
	height: auto;
	margin: 60px auto 50px auto;
}

ul {
	line-height: 1.5;
}
table {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	line-height: 2;
}

.projects {
	font-size: 25px;
	width: 50%;
	margin: auto auto 100px auto;
}
.contact-me {
	margin: auto auto auto auto;
	padding-bottom: 50px;
}
.contact-btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 20;
	-moz-border-radius: 20;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 30px;
}

.contact-btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}

.procra-para {
	margin: 20px auto 30px auto;
}

.bottom-container {
	height: 150px;
	width: 100%;
	background-color: #66bfbf;
	padding-top: 30px;
}
.footer-link {
	font-family: 'Montserrat', sans-serif;
	text-decoration-line: none;
	font-weight: bold;
	margin: auto 15px;
	margin-bottom: 40px;
	color: #11999e;
}
.comic-alt {
	font-size: 20px;
}
.comic-date {
	font-size: large;
	font-style: italic;
}
.footer-img {
	width: 2.5%;
	margin: 15px 15px;
}
.copyright {
	margin-top: 20px;
}
@media (320px <= width <= 768px) {
	.bio-parag,
	.skills,
	.projects {
		width: 50%;
	}
	.contact-me {
		width: 70%;
		margin: auto auto auto auto;
		padding-bottom: 50px;
	}
	.footer-img {
		width: 5%;
		margin: 15px 15px;
	}
	.contact-btn {
		font-size: 4vw;
	}
}
